# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
notes.txt
# .gitignore içeriği

note.dart
note2.dart

# Ignore build directory, except required files
build/
!build/native_assets/macos/native_assets.json
!build/unit_test_assets/

# Ignore example build files, but keep source code
example/build/
example/.dart_tool/

# Ignore macOS and Windows specific files
.DS_Store
Thumbs.db

.DS_Store
